<div class="sp-thing-picker">
  <div>
    <app-select options="searchOptions" selected-model="searchParam.field" value-only="true"></app-select>
    <input type="text" class="form-control search-field" ng-model="searchParam.value" />
    <button class="btn btn-info" ng-click="searchDevices(searchParam)">Search</button>
  </div>
  <hr/>
  <table st-table="firmwares" class="table table-striped">
    <thead>
    <tr>
      <th><input type="checkbox" ng-model="allSelected" /></th>
      <th>_deviceID</th>
      <th>_vendorThingID</th>
      <th>Model</th>
      <th>Firmware Version</th>
      <th>_online</th>
      <th>_disabled</th>
      <th>_created</th>
    </tr>
    </thead>
    <tbody>
      <tr ng-repeat="device in myDevices | filter: selectedThingsFilter" ng-click="deviceEdit[device.getThingID()] = !deviceEdit[device.getThingID()]">
        <td><input type="checkbox" ng-model="device._selected" ng-click="selectChange()" ng-disabled="allSelected" /></td>
        <td>{{device.getThingID()}}</td>
        <td>{{device.getVendorThingID()}}</td>
        <td>{{device.getModelName()}}</td>
        <td>{{device._firmwareVersion}}</td>
        <td>{{device._online}}</td>
        <td>{{device._disabled}}</td>
        <td>{{getTime(device.getCreated())}}</td>
      </tr>
      <tr>
        <td colspan="8" class="load-more" ng-click="loadMore()">Load More</td>
      </tr>
    </tbody>
  </table>
</div>