.sp-thing-picker .search-field {
  width: 120px;
  display: inline-block;
  top: 1px;
  position: relative; }

.sp-thing-picker .load-more {
  width: 100%;
  text-align: center;
  height: 34px;
  line-height: 34px;
  border: #ddd 1px dashed;
  cursor: pointer; }
  .sp-thing-picker .load-more:hover {
    border: #ccc 1px dashed; }
